accelerate==0.25.0
aiofiles==22.1.0
aiohttp==3.8.6
aiosignal==1.3.1
aiosqlite==0.18.0
annotated-types==0.6.0
anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
async-timeout==4.0.3
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
blinker==1.8.2
Brotli==1.1.0
cachetools==5.3.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
charset-normalizer==3.0.1
click==8.1.7
cloudpickle==3.0.0
cmake==3.29.2
coloredlogs==15.0.1
comm==0.1.4
contourpy==1.2.1
cycler==0.12.1
Cython==3.0.10
debugpy==1.6.6
decorator==5.1.1
decorators==2.0.7
defusedxml==0.7.1
distro==1.9.0
dnspython==2.6.1
docker==7.0.0
docstring_parser==0.16
einops==0.7.0
email_validator==2.1.1
enum-compat==0.0.3
exceptiongroup==1.2.1
executing==1.2.0
fastapi==0.111.0
fastapi-cli==0.0.3
fastjsonschema==2.16.2
filelock==3.10.7
Flask==3.0.3
Flask-Compress==1.15
flatbuffers==24.3.25
fonttools==4.37.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2024.3.1
google==3.0.0
google-api-core==2.17.1
google-api-python-client==2.122.0
google-auth==2.28.2
google-auth-httplib2==0.2.0
googleapis-common-protos==1.63.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.20.1
humanfriendly==10.0
hypothesis==6.100.1
idna==3.4
importlib_metadata==7.1.0
iopath==0.1.10
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
ipywidgets==8.1.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.5.0
jupyter-ydoc==0.2.2
jupyter_client==8.0.2
jupyter_core==5.2.0
jupyter_server==2.2.1
jupyter_server_fileid==0.6.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab==3.6.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.19.0
kiwisolver==1.4.5
lightning-utilities==0.9.0
llvmlite==0.39.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.9.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==2.0.5
mpmath==1.4.0a1
msgpack==1.0.7
multidict==6.0.4
multimethod==1.9.1
mypy-extensions==1.0.0
nbclassic==0.5.1
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.4
numpy==1.23.2
onnx==1.16.0
onnxruntime==1.16.3
opencv-python==4.7.0.72
orjson==3.10.3
packaging==21.3
pandas==1.4.4
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.0.0
portalocker==2.8.2
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==4.24.4
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.7.1
pydantic_core==2.18.2
pyDeprecate==0.3.2
Pygments==2.14.0
pyparsing==3.1.2
pyre-extensions==0.0.30
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.5
python-multipart==0.0.9
pytorch-lightning==2.1.0
pytz==2022.2.1
PyYAML==6.0
pyzmq==25.0.0
ray==2.7.1
regex==2023.10.3
requests==2.28.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rsa==4.9
safetensors==0.4.1
scikit-build==0.17.6
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.0
Send2Trash==1.8.0
sentencepiece==0.1.99
shap==0.45.1
shellingham==1.5.4
six==1.16.0
sklearn==0.0.post1
slicer==0.0.8
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
stack-data==0.6.2
starlette==0.37.2
sympy==1.11.1
tabulate==0.9.0
tensorboardX==2.6.2.2
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.15.0
tomli==2.0.1
torch==2.3.0
torch-model-archiver==0.10.0
torchdata==0.7.0
torchmetrics==1.2.0
torchrec==0.1.0
torchserve==0.10.0
torchsummary==1.5.1
torchtext==0.16.0
torchvision==0.17.0
torchx-nightly==2024.4.20
tornado==6.4.1
tqdm==4.66.1
traitlets==5.9.0
transformers==4.36.2
typer==0.12.3
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.9.0
ujson==5.9.0
Unidecode==1.3.6
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.29.0
uvloop==0.19.0
watchfiles==0.21.0
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
websockets==12.0
Werkzeug==3.0.0
widgetsnbextension==4.0.9
y-py==0.5.5
yarl==1.9.2
ypy-websocket==0.8.2
zipp==3.18.1
zstandard==0.22.0
